/* You can add global styles to this file, and also import other style files */
html, body, app-root, .center {
  width: 100%;
  height: 100%;
  margin: 0;
}

.fill-remaining-space {
  //使用flexbox填充剩余空间
  flex: 1 1 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-card-head-title {
  text-align: center;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
