.layout {
  height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 24px 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fafafa;
  height: 100%;
}

nz-footer {
  text-align: center;
}

#logo {
  width: 87px;
  height: 42px;

  margin-left: 26px;

  background: url("../../../../assets/image/logo.jpg");

  background-repeat: no-repeat;

  background-size: cover;

  -webkit-background-size: cover;

  -o-background-size: cover;

  background-position: center 0;
}
